main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}

body{
    background-color: rgb(10, 9, 35);
    color: white;
}

.freecodecamp-logo{
    height: 10rem;
    width: 20rem;
}

h1{
    margin: 0rem;
    font-size: 3rem;
    position: relative;
    top: -2rem;
    color: antiquewhite;
}

.change-div #changed{
    font-size: large;
    display: block;
    margin-bottom: 3rem ;
    
}

.change-div #changed p{
    margin: 0rem;
    margin-top: 0.5rem;
    color: white;
}

.input-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.input-div label{
    font-size: 1.4rem;
    color: rgba(240, 255, 255, 0.855);
}

.input-div input{
    background-color: rgb(78, 77, 77);
    height: 2rem;
    width: 100%;
    border: none;
    border-radius: 1rem;
    text-align: center;
    font-size: large;
    font-weight: 800;
    color: white;
}

.input-div button{
    width: 40%;
    height: 2rem;
    font-size: large;
    font-weight: bold;
    background-color: rgb(145, 103, 26);
    color: white;
    border: none;
    background: linear-gradient(to bottom, #d58512, #a35407);
    border-top: 0.15rem solid hsl(35, 81%, 65%);
    border-bottom: 0.15rem solid hsl(35, 67%, 26%);
    border-right: 0.15rem solid hsl(35, 79%, 18%);
    border-left: 0.15rem solid hsl(35, 81%, 65%);
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 1.6rem;
}

.price-screen{
    height: 1.5rem;
    width: 14rem;
    border: 0.8rem solid rgba(26, 47, 133, 0.952);
    background-color: rgba(0, 0, 0, 0.855);
    text-align: center;
    padding: 0.5rem;
    font-size: larger;
    margin: 0rem;
}

.connector{
    height: 3rem;
    width: 3rem;
    background-color: rgba(26, 47, 133, 0.952);
    position: relative;
    left: 1rem;
}

.top-register{
    width: 27rem;
    height: 20rem;
    background-color: rgba(26, 47, 133, 0.952);
    border-top-left-radius: 3rem ;
    border-top-right-radius: 3rem;
}

.btn-container{
    display: block;
    width: 7rem;
    position: relative;
    top: 2rem;
    left: 2rem;
}

.btn{
    width: 2rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.855);
    border: none;
}

.cash-drawer-display{
    background-color: rgba(27, 26, 26, 0.932);
    width: 11rem;
    position: relative;
    top: -4.5rem;
    left: 12rem;
    padding: 1rem;
}

.cash-drawer-display p{
    margin: 0rem;
    margin-bottom: 0.3rem;
    color: white;
}

.cash-drawer-display p strong{
    font-size: larger;
    font-weight: bolder;
}

.bottom-register{
    margin-top: 1rem;
    background-color: rgba(26, 47, 133, 0.952);
    width: 27rem;
    height: 4rem;
}

.circle{
    background-color: black;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: relative;
    top: 25%;
    left: 45%;
}

@media (max-width: 500px){
    .freecodecamp-logo {
        height: 7rem;
        width: 14rem;
    }

    h1 {
        font-size: 2rem;
        top: -1rem;
    }

    .input-div{
        row-gap: 1rem;
    }

    .input-div input {
        height: 1.5rem;
    }

    .input-div button {
        height: 1.5rem;
        width: 6rem;
        font-size: medium;
    }

    .input-div label {
        font-size: 1.2rem;
    }

    .container {
        top: 1rem;
    }

    .price-screen {
        height: 1rem;
        width: 10rem;
        font-size: medium;
        padding: 0.3rem;
    }

    .connector {
        height: 2rem;
        width: 2rem;
    }

    .container{
        width: 100%;
    }

    .top-register {
        width: 90%;
        height: 15rem;
    }

    .btn-container{
        width: 25%;
        top: 1.5rem;
        left: 1.5rem;
    }

    .btn{
        width: 1.5rem;
        height: 1.5rem;
    }

    .cash-drawer-display{
        width: 40%;
        top: -25%;
        left: 50%;
        padding: 0.7rem;
    }

    .cash-drawer-display p{
        font-size: small;
        margin-bottom: 0.1rem;
    }

    .bottom-register{
        width: 90%;
        height: 3rem;
    }

    .circle{
        height: 1.5rem;
        width: 1.5rem;
    }
}
